.avatar {
  display: inline-block;
  vertical-align: top;
}

.avatar__img {
  display: block;
}

.avatar,
.avatar__img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.avatar.a7 {
  width: 40px;
  height: 40px;
  .avatar__img {
    width: 40px;
    height: 40px;
  }
}
