/**
 * spacing 间距
 */

/* 常规页面间距 */
$page-spacing: 12px;


/**
 * font-size 字号
 */

/* 摘要，辅助信息 */
$s12: 12px;

/* cell上下描述文案 */
$s13: 13px;

/* 子标题，一级导航，正文摘要 */
$s14: 14px;

/* 全局titlebar、大按钮文字、气泡、主文案字体 */
$s17: 17px;


/**
 * color 颜色变量
 */

/* 品牌色、引导色、功能色 */
$c2: #38adff;

/* 用户白色背景下的边框颜色 */
$c5: #e4e4e4;

/* 全局titlebar文字、主文案文字颜色 */
$c6-1: #333333;

/* 说明文本 */
$c6-2: #999999;

/* 签到、审批 */
$c11-3: #f7b55e;
